{% extends "base.html" %}
{% load i18n static %}

{% block content %}

  {% if form.errors %}
  <div class="alert alert-error">
    <a class="close" onclick="javascript:$(this).parent().fadeOut('slow');">×</a>
    <strong>Warning!</strong> Your passwords did not match. Please try again.
  </div>
  {% endif %}

  <div class="page-header">
    <h1>Password change</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly. Your current session will continue.</p>
  </div>
  <form class="form-horizontal" method="post" action="{% url appraise.views.password_change %}">
  {% csrf_token %}

  <fieldset>

    <div class="control-group">
      <label class="control-label" for="id_password1">Password</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">required</span>
          <input class="span2" name="password1" id="id_password1" type="password" />
        </div>
        <p class="help-block">Please enter your new password</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="id_password2">Password (again)</label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">required</span>
          <input class="span2" name="password2" id="id_password2" type="password" />
        </div>
        <p class="help-block">Please re-type your new password</p>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Change password</button>
    </div>

  </fieldset>
  
  </form>
{% endblock %}

