{% extends "wmt13/base.html" %}

{% block content %}
<div class="row">
<div class="span12">
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Please note!</strong> more useful completion statistics (# of HITs completed, accumulated duration, team status) coming soon...
</div>

{% if hit_data %}
<table class="table table-striped table-bordered">
<tr>
  <th style="width: 20%;">Task name</th>
  <th style="width: 20%;">Language pair</th>
  <th style="width: 20%;">Completion</th>
  <th style="width: 20%;">Average</th>
  <th style="width: 20%;">Duration</th>
</tr>
{% for language_pair, hit_url, block_id, status in hit_data %}
<tr>
  <td><a href="{{hit_url}}">Block #{{block_id}}</a></td>
  <td>{{language_pair}}</td>
  <td><span class="badge badge-inverse"><div class="bar" style="width: 66%;">{{status.0}} HITs</span></td>
  <td>{{status.1}} second(s)</td>
  <td>{{status.2}} second(s)</td>
</tr>
{% endfor %}
</table>
{% else %}
<h2>Not ready yet...</h2>
<p>At this moment, there are no HITs available to work on. Check back soon...</p>
{% endif %}
</div>
</div>
{% endblock %}
