{% if 1 %}
<span class="badge badge-success" style="line-height:22px;">Best</span> &larr;
{% for translation in translations %}
<span class="badge badge-warning" style="line-height:22px;" onclick="$(this).children('input').attr('checked', 'checked');">Rank {{forloop.counter}} <input type="radio" name="rank_{{rank_id}}" value="{{forloop.counter}}" style="vertical-align:baseline;" /></span>
{% endfor %}
&rarr; <span class="badge badge-important" style="line-height:22px;">Worst</span>

{% else %}

<span class="badge badge-success" style="line-height:16px;" onclick="$(this).children('input').attr('checked', 'checked');">Best <input type="radio" name="rank_{{rank_id}}" value="1" style="vertical-align:baseline;" /></span>

<span class="badge badge-warning" style="line-height:16px;" onclick="$(this).children('input').attr('checked', 'checked');">2nd <input type="radio" name="rank_{{rank_id}}" value="2" style="vertical-align:baseline;" /></span>

<span class="badge badge-warning" style="line-height:16px;" onclick="$(this).children('input').attr('checked', 'checked');">3rd <input type="radio" name="rank_{{rank_id}}" value="3" style="vertical-align:baseline;" /></span>

<span class="badge badge-warning" style="line-height:16px;" onclick="$(this).children('input').attr('checked', 'checked');">4th <input type="radio" name="rank_{{rank_id}}" value="4" style="vertical-align:baseline;" /></span>

<span class="badge badge-important" style="line-height:16px;" onclick="$(this).children('input').attr('checked', 'checked');">Worst <input type="radio" name="rank_{{rank_id}}" value="5" style="vertical-align:baseline;" /></span>

{% endif %}