{% extends "Dashboard/base.html" %}
{% load i18n static %}

{% block content %}

  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>Warning!</strong> Your passwords did not match. Please try again.</p>
  </div>

  {% endif %}

  <div class="page-header">
    <h1>Password change</h1>
    <p>Please enter your old password once and the desired new password twice so we can verify you typed it in correctly.</p>
    
    <div class="panel panel-primary" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Note</strong></h3>
      </div>
      <div class="panel-body">
        <p>After submitting this form you will be redirected to your dashboard. If successful your current session will continue. No confirmation message will be shown. If you provided a wrong value for the old password field or typed in two different new passwords, you will see an error message and your old password remains unchanged.</p>
      </div>
    </div>
  </div>
  <form class="form-horizontal" method="post" action="{% url 'change-password' %}">
  {% csrf_token %}

   <div class="form-group">
      <label for="id_old_password" class="col-sm-4 control-label">Old password</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="old_password" id="id_old_password" type="password" />
        </div>
        <p class="help-block">Please authenticate with your old password</p>
      </div>
    </div>

    <div class="form-group">
      <label for="id_new_password1" class="col-sm-4 control-label">New password</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="new_password1" id="new_password1" type="password" />
        </div>
        <p class="help-block">Please enter your new password</p>
        <ul class="help-block">
          <li><small>Can't be too similar to your other personal information;</small></li>
          <li><small>Must contain at least 8 characters;</small></li>
          <li><small>Can't be a commonly used password;</small></li>
          <li><small>Can't be entirely numeric.</small></li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="id_new_password2" class="col-sm-4 control-label">New password (again)</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="new_password2" id="id_new_password2" type="password" />
        </div>
        <p class="help-block">Please re-type your new password</p>
      </div>
    </div>

    <button type="submit" class="col-sm-offset-4 btn btn-primary">Change password</button>
  
  </form>
{% endblock %}
