{% extends 'Dashboard/base.html' %}

{% block content %}
  <div class="page-header">
    <h1>Metrics status</h1>
    <p>Computed based on all completed annotation items.</p>

    <table class="table table-striped">
      <tr>
        <th>Task ID</th><th>Language pair</th><th>Annotators</th><th>Completed items</th>
      </tr>
{% for item in task_status %}
      <tr>
        <td>{{item.0}}</td><td>{{item.1}}-{{item.2}}</td><td>{{item.3}} ({{item.4}}%)</td><td>{{item.5}} ({{item.6}}%)</td>
      </tr>
{% endfor %}
    </table>
  </div>
{% endblock %}
